footer {
    background-color: var(--blue2);
    padding: 30px 100px;
}

.footer_title {
    font-size: 28px;
    color: white;
    margin-bottom: 15px;
}

.footer_link {
    border-radius: 50%;
    display: block;
    padding: 20px;
    border: 1px solid var(--blue1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_link:hover {
    background-color: var(--blue1);
    transition: all 0.3s ease;
}

.footer_icon {
    font-size: 20px;
    color: white;
}

.footer_text {
    color: white;
    margin-top: 7px;
}

.footer_icon_2 {
    font-size: 20px;
    color: white;
    margin-top: 7px;
}